$font-family: "Montserrat", "Arial", sans-serif;
$font-weight: 400;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1720px;

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #9a9a9a;
$color-text: #303030;
$color-green--button: #7eb252;
$color-green--border: #c8dcba;
$color-green--bg: #a4c58c;
$color-lime--text: #a8c48c;
$color-lime--bg: #f6f9f3;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
