doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Swedish Bitter
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.min.css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap&subset=cyrillic-ext,latin-ext" rel="stylesheet")
    script(src="https://www.google.com/recaptcha/api.js" async defer)


  body.page-body
    div.visually-hidden
      //- include build/icons/sprite.svg

    h1.visually-hidden Swedish Bitter

    script(src="js/script.js")
